---json
{
  "permalink": "/fr/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "LostInBrittany.dev (Français)",
    "description": "Le blog tech de LostInBrittany en français.",
    "language": "fr",
    "base": "https://lostinbrittany.dev/",
    "author": {
      "name": "Horacio Gonzalez",
      "email": "horacio.gonzalez@gmail.com"
    }
  },
  "layout":"layouts/feed.njk"
}
---
