---json
{
  "permalink": "/es/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "LostInBrittany.dev (Español)",
    "description": "El blog tecnológico de LostInBrittany en español.",
    "language": "es",
    "base": "https://lostinbrittany.dev/",
    "author": {
      "name": "Horacio Gonzalez",
      "email": "horacio.gonzalez@gmail.com"
    }
  },
  "layout":"layouts/feed.njk"
}
---
