---json
{
  "permalink": "/en/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "LostInBrittany.dev (English)",
    "description": "LostInBrittany's tech blog in English.",
    "language": "en",
    "base": "https://lostinbrittany.dev/",
    "author": {
      "name": "Horacio Gonzalez",
      "email": "horacio.gonzalez@gmail.com"
    }
  },
  "layout":"layouts/feed.njk"
}
---
